@charset "UTF-8";

/* 回答はここに書いてね */

.q7 .q7__box {
  width: 225px;
}

/* float　*/

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7--float .q7__box.flt {
  float: left;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
}

.q7--float .q7__box.flt:first-child {
  margin-left: 0;
}

/* float　*/

/* table　*/

.q7--table .q7__inner {
  display: table;
}

.q7--table .q7__box.tab {
  display: table-cell;
  padding-left: 50px;
  font-size: 16px;
  vertical-align: middle;
}

.q7--table .q7__box.tab:first-child {
  padding-left: 0;
}

/* table　*/

/* inline-block　*/

.q7--inlineblock {
  font-size: 0;
}

.q7--inlineblock .q7__box.ilb {
  display: inline-block;
  margin-left: 50px;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 16px;
}

.q7--inlineblock .q7__box.ilb:first-child {
  margin-left: 0;
}

/* inline-block　*/

/* flex　*/

.q7--flex .q7__inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7--flex .q7__box.flex {
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 16px;
}

/* flex　*/

/* inline-blockとmargin　*/

.q7--margin {
  font-size: 0;
}

.q7--margin .q7__box.is-left {
  display: inline-block;
  width: 300px;
}

.q7--margin .q7__box__text {
  font-size: 16px;
}

.q7--margin .q7__box.is-right {
  display: inline-block;
  width: 100%;
  padding-left: 350px;
  margin-left: -300px;
  box-sizing: border-box;
  vertical-align: top;
}

/* inline-blockとmargin　*/

/* 回答はここに書いてね */
